.table{
    width: 100%;
    padding-top: 20px;
}

.table tbody tr{
    text-align: center;
    cursor: pointer;

}

.entries:hover{
    opacity: 0.5;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}