.headContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.headContainer img{
    width: 200px;
    height: 100px;
    padding-left: 20px;
    margin-right: auto;
    
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


